# Set the port to your server
PORT=3000
# Example: DATABASE_URL=postgresql://demouser:''@localhost:5432/demo
DATABASE_URL=postgresql://[user]:[password]@[localhost]:[port]/[database]
# Create a 256-bits long string and add it as jwt secret
JWT_SECRET=a-string-secret-at-least-256-bits-long